<div class="row">
    <div class="col-sm-9">
        <h3>{{ comment.title }}</h3>
        <p>{{ comment.body }}</p>
    </div>
    <div class="col-sm-3">
        <p>Created by <a href="/user/{{ comment.getUser().name }}">{{ comment.getUser().display_name }}</a></p>
        <p>On post <a href="/post/{{ comment.post_id }}">{{ comment.getPost().title }}</a></p>
        <p>{{ comment.created }}</p>
        {% if comment.user_id == user.user_id %}
            <div class="btn-group" role="group">
                <a class="btn btn-default" href="/comment/edit/{{ comment.comment_id }}"><i class="fa fa-edit fa-1g"></i> Edit</a>
                <a class="btn btn-danger" href="/comment/delete/{{ comment.comment_id }}"><i class="fa fa-trash fa-1g"></i> Delete</a>
            </div>
        {% endif %}
    </div>
</div>