{% block content %}
    <h2><a href="/posts/{{ post.post_id }}">{{ post.title }}</a></h2>
    <p>{{ post.body }}</p>
    <p>{{ post.created }}</p>
    <a href="/posts/edit/{{ post.post_id }}">Edit Post</a>
{% endblock %}