{% block content %}
    <h2><a href="/post/{{ post.post_id }}">{{ post.title }}</a></h2>
    <div markdown="1">{{ post.getMarkdown()|raw }}</div>
    <p hidden>{{ post.body }}</p>
    <p>Created by {{ post.getUser().display_name }} at {{ post.created }}</p>
{% endblock %}